[submodule "support-android"]
	path = support-android
	url = http://github.com/ilhasoft/support-android
[submodule "video-compressor"]
	path = video-compressor
	url = https://github.com/Ilhasoft/video-compressor.git
