<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.ureport" >

    <uses-sdk tools:overrideLibrary="de.hdodenhof.circleimageview, com.moxun.tagcloudlib" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="in.ureport.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.ureport.permission.C2D_MESSAGE" />

    <application
        android:name=".UreportApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/label_home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TutorialActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/label_chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GeneralSettingsActivity"
            android:label="@string/label_settings"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ModerationActivity"
            android:label="@string/label_moderation" />
        <activity android:name=".activities.MediaActivity" />
        <activity
            android:name=".activities.UserSettingsActivity"
            android:label="@string/label_user_settings"
            android:parentActivityName=".activities.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".activities.InviteContactsActivity"
            android:label="@string/label_invite_contacts"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.OpenGroupsActivity"
            android:label="@string/label_chat_groups"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/label_about_ureport" />
        <activity
            android:name=".activities.DonationActivity"
            android:label="@string/label_donation" />
        <activity
            android:name=".activities.AmbassadorsActivity"
            android:label="@string/label_ambassadors" />
        <activity
            android:name=".activities.GroupInfoActivity"
            android:label="@string/label_group_info" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/label_profile"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ChatCreationActivity"
            android:label="@string/label_new_chat"
            android:parentActivityName=".activities.ChatActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatActivity" />
        </activity>
        <activity
            android:name=".activities.ChatRoomActivity"
            android:parentActivityName=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatActivity" />
        </activity>
        <activity
            android:name=".activities.CreateStoryActivity"
            android:label="@string/label_new_story"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.StoryViewActivity"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PollResultsActivity"
            android:label="@string/label_poll_results"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity android:name=".activities.CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Ureport.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="in.ureport.models.Story,in.ureport.models.Marker,in.ureport.models.db.ChatNotification,in.ureport.models.db.ContributionNotification,in.ureport.models.db.MessageNotification" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="edb26c44ff60b68236d41f7a9e777b5b8d62e2cf" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.ureport" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.InstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".services.GcmRegistrationIntentService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>