<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="in.ureport">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:theme="@style/AppTheme"
        android:name=".UreportApplication"
        android:supportsRtl="true">

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/label_home" />

        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/label_chat" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/label_about_ureport" />

        <activity
            android:name=".activities.DonationActivity"
            android:label="@string/label_donation" />

        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/label_profile"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ChatCreationActivity"
            android:label="@string/label_new_chat"
            android:parentActivityName=".activities.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatActivity" />
        </activity>

        <activity
            android:name=".activities.ChatRoomActivity"
            android:parentActivityName=".activities.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatActivity" />
        </activity>

        <activity
            android:name=".activities.CreateStoryActivity"
            android:label="@string/label_new_story"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.StoryViewActivity"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.NewsViewActivity"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.AnswerPollActivity"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.PollResultsActivity"
            android:label="@string/label_poll_results"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <meta-data android:name="AA_DB_NAME" android:value="Ureport.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="in.ureport.models.User,in.ureport.models.Story,in.ureport.models.Marker" />

    </application>

</manifest>
