<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.ureport">

    <uses-sdk
        tools:overrideLibrary="de.hdodenhof.circleimageview"/>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:theme="@style/AppTheme"
        android:name=".UreportApplication"
        android:supportsRtl="true">

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_home" />

        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_chat" />

        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_about_ureport" />

        <activity
            android:name=".activities.DonationActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_donation" />

        <activity
            android:name=".activities.AmbassadorsActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_ambassadors" />

        <activity
            android:name=".activities.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_chat"
            android:parentActivityName=".activities.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatActivity" />
        </activity>

        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_profile"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ChatCreationActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_new_chat"
            android:parentActivityName=".activities.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatActivity" />
        </activity>

        <activity
            android:name=".activities.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatActivity" />
        </activity>

        <activity
            android:name=".activities.CreateStoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_new_story"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.StoryViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.StatisticsActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.NewsViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_story_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.AnswerPollActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_answer_poll"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.PollResultsActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_poll_results"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <meta-data android:name="AA_DB_NAME" android:value="Ureport.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="in.ureport.models.User,in.ureport.models.Story,in.ureport.models.Marker" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="edb26c44ff60b68236d41f7a9e777b5b8d62e2cf" />
    </application>

</manifest>
